# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sitescopy/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sitescopy/*/files
sitescopy/*/private

# Files for local dev version
sites/sites.php
sites/drupal-filmfest.dd
drupal-filmfest.dd/*
