#footer ul li {
    padding: 0 10px 10px 10px;
}

#bottom .more-link {
text-transform:capitalize;
}

#bottom h2 {
   color: #eee;
}

#block-block-7 h2 {
margin-bottom: 10px;
}

blockquote {
    background: url("../images/format_quote.png") no-repeat scroll left top transparent;
	background-size:40px 40px;
    margin-left: 5px;
    padding-right: 80px;
	text-align: justify;
	font-style: normal;
	padding-left: 50px;
}

/*Colors*/

#bottom {
    background-color: #444;
}

a {
    color: #6633cc;
    text-decoration: none;
    font-weight:normal;
}

a:hover {
    color: #6633cc;
}

/*Visited*/

a:visited {
    color: #5A789A;
    text-decoration: none;
    font-weight:bold
}

#block-block-6 a:visited{
 color: #6633cc;
}

#footer a {
  color: #6633cc;
}

#footer a:hover {
  color: #ffc;
}

#footer a:visited {
  color: #5A789A;
}

#block-block-6 a{
 color: #6633cc;
}
#block-block-6 a:hover{
 color: #6633cc;
}
#block-block-6 {
 color: #000;
}
#block-nice-menus-1 .active {
    background-color:  #999;
}
#content-wrap {
 background-color: #FFF;
}
#bottom {
  color: #fff;
}
#bottom a{
  color: #9DC2C4;
}
#bottom a:hover{
  color: #9DC2C4;
}
#bottom a:visited{
  color: #cdd;
}

#footer {
width: 960px;
line-height: 1.20;
margin-left: auto;
margin-right: auto;
text-color: #000;
}

#main-wrapper {
background: none;
background-color: #ddd;
padding-top: 60px;
}

#page-wrapper {
background-color: #ddd;
}

/* End Colors*/

ul.nice-menu-down > li > ul {
  margin-top: 7px;
}
#navigation li {
    height: 30px;
    line-height: 30px;
}

.navigation {
    height: 30px;
}
.menu-5314, .menu-11879 {
    height: 45px;
    margin-top: -45px;
}

.blog_usernames_blog a {
display: none;
}

#main ul li {
     list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.preview .node-teaser {
display: none;
}

.blockquote {
    background: none repeat scroll 0 0 #CBD1D8;
    margin: 4px 10px;
    padding: 10px 15px;
}

.title {
padding-bottom: 15px;
}

#block-views-tweets-block .views-row{
float: left;
margin-left: 7px;
margin-right: 20px;
line-height: 1.20;
}

#block-views-tweets-block h2{
margin-left: 15px;
}

#block-views-c462d60227b11f4416c8f9c8ff67d793 {
float: left;
margin-right: 20px;
line-height: 1.20;
}

.preface,
.sidebar .gutter {
  border: none;
}

.sidebar .content{
  border: 2px solid #DCDADA;
  -moz-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
  margin-bottom: 15px;
  min-height: 0;
}

.sidebar h2 {
    border-top: 5px solid #3D5454;
	color: #3D5454;
background: none;
text-align: center;
}

.statistics_counter {
display: none;
}

h1 {
font-size: 22px;
}

h2 {
font-size: 18px;
}

.logo
{
position:relative;
top:-15px;
}

#block-views-tweets-block .pager {
display: none;
}

p {
margin-right: 12px;
text-indent:25px;
}

#second-sidebar p {
margin-right: 5px;
text-align: left;
margin-left: 6px;
text-indent: 0;
}
.no-indent {
margin-left: -25px;
}
#footer p{
text-indent: 0;
}
.breadcrumb {
	display: none;
}

#page-title {
text-align: center;
margin-bottom: 10px;
margin-top: 20px;
}
#log-in-out{
margin-right: 15px;
position:relative;
top:-85px;
}
#banner-wrap {
display: none;
}
#header {
  background: url(../images/header-bg.gif) repeat-x;
  height: 145px;
width: 960px;
margin-left: auto;
margin-right: auto;
}
#search-block-form {
margin-right: 10px;
position:relative;
top:-80px;
}
#navigation a {
  font-size: 14px;
  padding: 0 23px;
  text-transform:none;
}

.more-link {
text-align: left;
}
.page-content{
margin-left: 10px;
}
.preface,
.sidebar .gutter {
  margin-top: 15px;
}

#footer .views-label {
display: none;
}
#footer ul {
  text-align: left;
}

#levelten{
 display: none;
}
.menu-9983 a {
  padding-right: 15px; /* LTR */
  background: url(../../../modules/nice_menus/images/arrow-down.png) right center no-repeat; /* LTR */
}
.menu-406 a {
  padding-right: 15px; /* LTR */
  background: url(../../../modules/nice_menus/images/arrow-right.png) right center no-repeat; /* LTR */
}
.menu-486 a {
  padding-right: 15px; /* LTR */
  background: url(../../../modules/nice_menus/images/arrow-down.png) right center no-repeat; /* LTR */
}
.menu-423 a {
  padding-right: 15px; /* LTR */
  background: url(../../../modules/nice_menus/images/arrow-down.png) right center no-repeat; /* LTR */
}
.menu-11312 a {
  padding-right: 15px; /* LTR */
  background: url(../../../modules/nice_menus/images/arrow-down.png) right center no-repeat; /* LTR */
}
#navigation .menu-5314 a{
line-height: 15px;
width: 100px;
}
#navigation .menu-11879 a{
line-height: 15px;
width: 100px;
}

.menu-9984 a {
background: none;
}
.menu-4517 a {
background: none;
}
.menu-405 a {
background: none;
}
.menu-5342 a {
background: none;
}
.menu-11422 a {
background: none;
}

.menu-11310 a {
background: none;
}

/*Organizations*/

#navigation .menu-5342, #navigation .menu-5314, #navigation .menu-11422, #navigation .menu-11879 {
    height: 45px;
    line-height: 45px;
	background: transparent url(../images/main-sprite-tall.png) repeat-x scroll left top;
}
#navigation .menu-5342 a, #navigation .menu-5314 a, #navigation .menu-11422 a, #navigation .menu-11879 a {
    line-height: 20px;
	width: 100px;
	margin-top: 2px;
}
/*
#navigation li{
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
  float: left;
  height: 45px;
  line-height: 45px;
}

#navigation .sf-menu li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
#navigation .sf-menu li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
#navigation .sf-menu li li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
  top: 0px;
}
*/
.menu-586 a, .menu-407 a, .menu-421 a, .menu-422 a {
background: none;
}

.menu-5314 a, .menu-11879 a {
background: none;
}
.menu-424 a, .menu-426 a, .menu-589 a {
background: none;
}

.menu-425 a {
background: none;
}

.view-id-corporation_watch_recent_posts {
margin-top: -15px;
}

.view-id-corporation_watch_recent_posts .more-link {
margin-top: 15px;
}

.view-id-corporation_watch_recent_posts .more-link {
margin-top: -10px;
}

/*Blog Title Left aligned*/
#main .blog-title  h1{
text-align: left;
}

#block-views-c462d60227b11f4416c8f9c8ff67d793 h2 {
margin-bottom: 25px;
}
#frameHoverNav {
  display: none !important;
}

#comments .pager {
display: none;
}
#comments .comment_forbidden {
display: none;
}

.crime-blotter-row td {
 padding-bottom: 15px;
 background: #fff;
 padding-left: 10px;
 padding-right: 15px;
 line-height: 1.2;
}